body {
  text-align : center;
  font-family: 'Train One', cursive;

  background-color:orange

}
.main img {
  width : 70%;
  vertical-align: middle;
}
.navi {
  text-align: center;
}
button {
  margin: 30px auto;
  font-size: 50px;
  background-color:#b22222
  


}
.title {
  font-size: xx-large;
  color:blue
}
.thumbnails .selected {
  opacity: 1.0;
}
